@import "@styles/mixin.module.scss";
.container {
  padding: 30px 20px 0 20px;
  @include flex_box_custom(space-between, unset, 0px);
  flex-direction: column;
  height: 90vh;

  .boxBtn{
    @include flex_box_custom(space-between, unset, 10px);
    flex-direction: column;
  }
  Button {
    width: 100%;
  }
}
